{% extends "base.html" %}
{% block title %}
    Learning Lorem Superior
{% endblock %}
{% block style %}
	{% include "h-style.html" %}
{% endblock %}
{% block headerlogo %}
	{% include "h-header-logo.html" %}
{% endblock %}
{% block headermenu %}
	{% include "h-menu.html" %}
{% endblock %}
{% block sidebar %}
	{% include "h-sidebar.html" %}
{% endblock %}
{% block body %}
<h1>Создание категории</h1>
<form method="post">
    <input type="text" name="name" placeholder="Название">
    <button type="submit">Сохранить и вернуться на главную</button>
</form>
{% endblock %}